body {
  visibility: visible;
  opacity: 1;
}

.schedule-entry-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

.post-schedule-button{
  margin-top: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
input{
    text-align: center;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.schedule-table th {
  background-color: #f4f4f4;
}
